<% if not user_signed_in? %>
  <div id="about">
    <p>「あ」は「あ」の１文字を送り合うことができるメッセージサービスです。「あ」しか送られてこないし、「あ」しか送ることができないので、いちいち文章を考える手間がかかりません。</p>
    <p>また、会話するほど親しい仲ではない人と気楽にやりとりすることで、親密度が増すこともあるかもしれん。</p>
    <p>「あ」の受け取り範囲は「全員から」と「自分がお気に入りにしたユーザーのみ」のどちらかに設定することができ、知り合いとだけ「あ」のやりとりをすることも可能です！</p>
    <div id="btns">
      <%= link_to "ログイン", login_get_path, class: "btn" %>
      <%= link_to "新規登録", signup_get_path, class: "btn" %>
    </div>
  </div>
<% end %>

<%= render "home/adsense" %>
